:root{
    --bs-font-sans-serif:'Rubik',sans-serif
}

body{
    margin:0;
    background-color: rgb(243,243,243);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT83TcBgOEDtJyARjccBa1B07TfVSzPfVzn5Q&usqp=CAU');
}

.container-xxl{
    max-width: 1280px;
}

a{
    color:var(--bs-dark);
}

/* category */

.category__link{
    display: block;
    text-decoration: none;
    text-align: center;
    transition: 250ms all;
}

.category__link:hover{
    transform: scale(1.1);
}

.category__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 8px;
}

.category__img--large{
    height: 300px;
}

.category__img img{
    width: 100%;
    object-fit: cover;
}


.auth-main-container{
    position: relative;
    top:10em;
}